body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app h1 {
  margin: 2rem;
}

.form label {
  font-size: large;
  margin-left: 2rem;
  text-transform: uppercase;
}

.form input {
  width: 25rem;
  height: auto;
  margin: 1rem;
}

.strong {
  color: red;
}
